.gradle
build/

cmake-build-*

.idea

*.iws
*.iml
*.ipr
lib/**
!lib/.gitkeep
out


jvips-plugin/src/main/antlr/*.tokens
jvips-plugin/src/main/generated/**
!jvips-plugin/src/main/generated/.gitkeep

.DS_Store
panama.properties
vips.properties
src/main/gen/**
